// .eslintrc

{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier", "import"],
  "settings": {
    "import/resolver": {
      "javascript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    },
    "import/extensions": [".js", ".jsx"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/namespace": "off",
    "prettier/prettier": 2,
    "import/export": 2,
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
