// переменные
$minwidth: 320px;
$pd: 30px;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + $pd;

html,
body {
  height: 100%;
  min-width: $minwidth;
}

body {
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 calc($pd / 2);
  max-width: $md1;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

.ibg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}