// переменные
$minWidth: 320px;
$pd: 30px;
$maxWidthContainer: 1170px;
$md1: calc($maxWidthContainer + $pd);

html,
body {
  height: 100%;
  min-width: $minWidth;
}

body {
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 calc(#{$pd} / 2);
  max-width: $md1;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}
